@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:700|Open+Sans:400,700");
@font-face {
  font-family: "SegoeUI-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/segoeuib.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/segoe-ui.ttf") format("truetype");
}
@font-face {
  font-family: "FreightSansPro-Book";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Freight Sans Book.otf") format("opentype");
}
@font-face {
  font-family: "FreightSansPro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Freight Sans Medium.otf") format("opentype");
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
