/* screen - web-1920-5 */

.web-1920-5 {
  background-color: var(--white);
  height: 3130px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-5 .rectangle-1-C61RwL {
  background-color: var(--steel-blue);
  height: 164px;
  left: 208px;
  position: absolute;
  top: 478px;
  width: 1456px;
}

.web-1920-5 .title-C61RwL {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 885px;
  letter-spacing: 0.00px;
  line-height: 97px;
  position: absolute;
  text-align: left;
  top: 337px;
  white-space: nowrap;
  width: auto;
}

.web-1920-5 .designer-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1389px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 533px;
  white-space: nowrap;
  width: auto;
}

.web-1920-5 .group-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 13px;
  left: 1718px;
  position: absolute;
  top: 66px;
  width: 51px;
}

.web-1920-5 .rectangle-2-VyzZeT {
  background-color: var(--horizon);
  height: 2px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .rectangle-3-VyzZeT {
  background-color: var(--horizon);
  bottom: calc(45.45% - 1px);
  height: 2px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-5 .rectangle-4-VyzZeT {
  background-color: var(--horizon);
  bottom: 0px;
  height: 2px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-5 .pexels-hasan-albari-1229861-1-C61RwL {
  background-color: transparent;
  height: 914px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1022px;
  width: 1920px;
}

.web-1920-5 .rectangle-5-C61RwL {
  background-color: var(--steel-blue);
  height: 922px;
  left: 0px;
  opacity: 0.64;
  position: absolute;
  top: 1022px;
  width: 1920px;
}

.web-1920-5 .rectangle-6-C61RwL {
  background-color: var(--river-bed);
  height: 160px;
  left: 0px;
  position: absolute;
  top: 863px;
  width: 1920px;
}

.web-1920-5 .what-services-do-you-need-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 512px;
  letter-spacing: 0.00px;
  line-height: 77px;
  position: absolute;
  text-align: left;
  top: 904px;
  white-space: nowrap;
  width: auto;
}

.web-1920-5 .pexels-photo-3118694-C61RwL {
  background-color: transparent;
  height: 517px;
  left: 302px;
  position: absolute;
  top: 160px;
  width: 517px;
}

.web-1920-5 .pexels-photo-3118694-x5JrQd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .rectangle-51-C61RwL {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 5px 30px #00000026;
  height: 477px;
  left: 735px;
  position: absolute;
  top: 1215px;
  width: 451px;
}

.web-1920-5 .my-services-C61RwL {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-freightsanspro-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1247px;
  width: 223px;
}

.web-1920-5 .ui-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1312px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .ux-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1352px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .motion-graphics-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1392px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .x3d-modelling-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1432px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .product-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1472px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .marketing-geaphics-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1512px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .video-editing-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1558px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .illustrations-C61RwL {
  background-color: transparent;
  height: auto;
  left: 842px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1598px;
  white-space: nowrap;
  width: 223px;
}

.web-1920-5 .rectangle-52-C61RwL {
  background-color: #9ca7b2;
  border-radius: 20px;
  height: 204px;
  left: 1160px;
  position: absolute;
  top: 1309px;
  width: 10px;
}

.web-1920-5 .group-56-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1311px;
  width: 11px;
}

.web-1920-5 .ellipse-15-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-zA4C22 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-57-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1351px;
  width: 11px;
}

.web-1920-5 .ellipse-15-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-AwXtS8 {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-58-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1391px;
  width: 11px;
}

.web-1920-5 .ellipse-15-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-GZmYSZ {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-59-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1431px;
  width: 11px;
}

.web-1920-5 .ellipse-15-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-rdL5Qr {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-60-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1471px;
  width: 11px;
}

.web-1920-5 .ellipse-15-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-Up6zcy {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-61-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1511px;
  width: 11px;
}

.web-1920-5 .ellipse-15-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-ynAtcP {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-62-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1557px;
  width: 11px;
}

.web-1920-5 .ellipse-15-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-q2BeyX {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .group-63-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 775px;
  position: absolute;
  top: 1597px;
  width: 11px;
}

.web-1920-5 .ellipse-15-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-21-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-18-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-20-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  left: 0px;
  position: absolute;
  width: 4px;
}

.web-1920-5 .ellipse-16-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-22-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: calc(33.33% - 1px);
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .ellipse-17-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: calc(33.33% - 1px);
  width: 4px;
}

.web-1920-5 .ellipse-19-L0cjLb {
  background-color: var(--periwinkle-gray);
  border-radius: 2px;
  bottom: 0px;
  height: 4px;
  position: absolute;
  right: 0px;
  width: 4px;
}

.web-1920-5 .path-8-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 809px;
  object-fit: cover;
  position: absolute;
  top: 1558px;
  width: 12px;
}

.web-1920-5 .path-9-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 808px;
  object-fit: cover;
  position: absolute;
  top: 1478px;
  width: 12px;
}

.web-1920-5 .path-10-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 808px;
  object-fit: cover;
  position: absolute;
  top: 1398px;
  width: 12px;
}

.web-1920-5 .path-11-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 808px;
  object-fit: cover;
  position: absolute;
  top: 1358px;
  width: 12px;
}

.web-1920-5 .path-12-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 792px;
  object-fit: cover;
  position: absolute;
  top: 1531px;
  width: 12px;
}

.web-1920-5 .component-12-1-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1310px;
  width: 24px;
}

.web-1920-5 .rectangle-53-8xwUeh {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-2-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1351px;
  width: 24px;
}

.web-1920-5 .rectangle-53-gSCx6W {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-3-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1391px;
  width: 24px;
}

.web-1920-5 .rectangle-53-4BtWXL {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-4-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1429px;
  width: 24px;
}

.web-1920-5 .rectangle-53-dstGho {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-5-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1470px;
  width: 24px;
}

.web-1920-5 .rectangle-53-mHnQnH {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-6-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1509px;
  width: 24px;
}

.web-1920-5 .rectangle-53-qyYty2 {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-7-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1556px;
  width: 24px;
}

.web-1920-5 .rectangle-53-vMUzaa {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .component-12-8-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 802px;
  position: absolute;
  top: 1595px;
  width: 24px;
}

.web-1920-5 .rectangle-53-IgxHoD {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% - 1px);
  left: 0px;
  position: relative;
  top: 1px;
  width: 100%;
}

.web-1920-5 .rectangle-53-C61RwL {
  background-color: var(--steel-blue);
  border-radius: 50px;
  box-shadow: 0px 3px 35px #000000c1;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 1797px;
  width: 1920px;
}

.web-1920-5 .contact-me-C61RwL {
  background-color: transparent;
  color: #e2f4ff;
  font-family: var(--font-family-open_sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 63px;
  left: 745px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 1867px;
  width: 432px;
}

.web-1920-5 .name-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 660px;
  position: absolute;
  top: 1978px;
  width: 600px;
}

.web-1920-5 .rectangle-55-wjqW0V {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000040;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .your-name-wjqW0V {
  background-color: transparent;
  bottom: calc(38.00% - 15px);
  height: 40px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 144px;
}

.web-1920-5 .email-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 660px;
  position: absolute;
  top: 2108px;
  width: 600px;
}

.web-1920-5 .rectangle-55-AJcDBt {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000040;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .your-email-AJcDBt {
  background-color: transparent;
  bottom: calc(38.00% - 15px);
  height: 40px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 140px;
}

.web-1920-5 .company-C61RwL {
  background-color: transparent;
  height: 90px;
  left: 660px;
  position: absolute;
  top: 2238px;
  width: 600px;
}

.web-1920-5 .rectangle-55-0OmZ9h {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000040;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .your-company-0OmZ9h {
  background-color: transparent;
  bottom: calc(38.00% - 15px);
  height: 40px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 189px;
}

.web-1920-5 .message-C61RwL {
  background-color: transparent;
  height: 225px;
  left: 660px;
  position: absolute;
  top: 2446px;
  width: 600px;
}

.web-1920-5 .rectangle-55-xSaWke {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000040;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .message-xSaWke {
  background-color: transparent;
  height: 40px;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 31px;
  white-space: nowrap;
  width: 117px;
}

.web-1920-5 .contact-me-im-h-o-work-with-you-C61RwL {
  background-color: transparent;
  color: #e2f4ff;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: 70px;
  left: 660px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2368px;
  width: 602px;
}

.web-1920-5 .button-C61RwL {
  background-color: transparent;
  height: 80px;
  left: 660px;
  position: absolute;
  top: 2731px;
  width: 600px;
}

.web-1920-5 .rectangle-56-xHxYv9 {
  background-color: var(--river-bed);
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000040;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .contact-me-xHxYv9 {
  background-color: transparent;
  bottom: calc(35.00% - 14px);
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  right: calc(49.77% - 81px);
  text-align: center;
  white-space: nowrap;
  width: 162px;
}

.web-1920-5 .component-13-1-C61RwL {
  background-color: transparent;
  height: 109px;
  left: 169px;
  position: absolute;
  top: 2968px;
  width: 1473px;
}

.web-1920-5 .group-65-jswcxA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 767px;
}

.web-1920-5 .linkedin-sIL0KL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 109px;
}

.web-1920-5 .oval-G7oEgx {
  background-color: #007ab7;
  border-radius: 54.5px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .linkedin-G7oEgx {
  background-color: transparent;
  height: 39px;
  left: calc(50.00% - 20px);
  object-fit: cover;
  position: absolute;
  top: calc(48.00% - 19px);
  width: 39px;
}

.web-1920-5 .instagram-sIL0KL {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 109px;
}

.web-1920-5 .oval-OS7bzF {
  background: linear-gradient(180.19deg, #7024c4 0.17%, #c21975 41.57%, #c74c4d 70.15%, #e09b3d 99.83%);
  background-color: transparent;
  border-radius: 54.5px;
  box-shadow: 0px 4px 8px #0000001a;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .instagram-OS7bzF {
  background-color: transparent;
  bottom: calc(50.00% - 24px);
  height: 48px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 24px);
  width: 48px;
}

.web-1920-5 .youtube-sIL0KL {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(25.06% - 27px);
  top: 0px;
  width: 109px;
}

.web-1920-5 .oval-xHGPPT {
  background-color: #f52929;
  border-radius: 54.5px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .youtube-xHGPPT {
  background-color: transparent;
  height: 39px;
  left: calc(50.00% - 25px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 20px);
  width: 50px;
}

.web-1920-5 .twitter-sIL0KL {
  background-color: transparent;
  height: 100%;
  left: calc(49.89% - 54px);
  position: absolute;
  top: 0px;
  width: 109px;
}

.web-1920-5 .oval-rESP8v {
  background-color: #2aa3ef;
  border-radius: 54.5px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .twitter-rESP8v {
  background-color: transparent;
  height: 36px;
  left: calc(50.00% - 22px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 18px);
  width: 45px;
}

.web-1920-5 .facebook-sIL0KL {
  background-color: transparent;
  height: 100%;
  left: calc(24.83% - 27px);
  position: absolute;
  top: 0px;
  width: 109px;
}

.web-1920-5 .oval-1LEcac {
  background-color: #3d5a96;
  border-radius: 54.5px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-5 .facebook-1LEcac {
  background-color: transparent;
  height: 45px;
  left: calc(50.00% - 11px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 22px);
  width: 22px;
}
